terraform/
*.log
*.json
kms_keys.*
*/*.json
debug.*
kms_key.yaml
host_vars/localhost.yaml
cka
*.pem
*.pub
ssh.config
admin.csr ca.csr kube-controller-manager.csr kube-scheduler.csr kubernetes.csr service-account.csr worker-0.csr worker-1.csr worker-2.csr
*.csr
